@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    list-style-type: none;
    text-decoration: none;
}

/* How It Work Css start from here  */
.HowItWork {
    margin: 0rem 6rem;
}

.HowItWork .howitwork_heading {
    margin: 1.5rem 0rem;
}

.HowItWork .howitwork_heading h2 {
    font-weight: 600;
    color: black;
}

.HowItWork .howitwork_options {
    width: 65%;
    margin: 1rem 0rem;
}

.HowItWork .howitwork_options ul {
    display: flex;
    justify-content: space-between;
}

.HowItWork .line {
    border: solid 0.5px rgb(222, 226, 230);
    margin: 1rem 0rem;
}

.HowItWork .Domestic_departure {
    display: flex;
    justify-content: space-between;
}

.HowItWork .Domestic_departure .steps {
    width: 15rem;
}

.HowItWork .Domestic_departure .steps .step_img img {
    width: 15rem;
    border-radius: 5px;
}

.HowItWork .Domestic_departure .steps .step_desc .step_heading1 {
    margin: 0.5rem 0rem;
}

.HowItWork .Domestic_departure .steps .step_desc .step_heading1 span {
    color: grey;
    font-size: 0.8rem;
}

.HowItWork .Domestic_departure .steps .step_desc .step_heading2 {
    margin: 0.5rem 0rem;
}

.HowItWork .Domestic_departure .steps .step_desc .step_heading2 h3 {
    font-size: 0.9rem;
    color: black;
    font-weight: 600;
}

.HowItWork .Domestic_departure .steps .step_desc .step_para p {
    color: grey;
    font-size: 0.8rem;
}

@media screen and (max-width: 1200px) {
    .HowItWork .howitwork_options ul {
        gap: 0.7rem 0rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .HowItWork .line {
        width: 100%;
    }

    .HowItWork .Domestic_departure {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem 0rem;
    }
}

@media screen and (max-width: 800px) {
    .HowItWork .howitwork_options {
        width: 100%;
    }

    .HowItWork .howitwork_options ul li {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 700px) {
    .HowItWork .howitwork_options {
        width: 100%;
    }

    .HowItWork .howitwork_options ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .HowItWork .Domestic_departure {
        display: grid;
        grid-template-columns: 1fr;
        gap: 3rem 0rem;
    }
}

@media screen and (max-width: 500px) {
    .HowItWork .howitwork_options ul {
        gap: 0.7rem 0rem;
        display: grid;
        grid-template-columns: 1fr;
    }
}
/* How It Work Css End here  */



