{% extends "base.html" %}
{% block start %} 

<!-- Login start from here -->
<div class="container my-5">
    <div class="login">
        <div class="login_heading">
            <h3>Login into your Account!!</h3>
        </div>
        <form action="#">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group mb-2">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <span><a href="#">Forgot password?</a></span>
                <br>
                <div class="login_btn d-flex justify-content-between align-items-center">
                    <button type="submit" class="btn btn-primary my-3">Submit</button>
                    <span><a href="/signup/">Don't have Account!!</a></span>
                </div>
        </form>
    </div>
</div>
<!-- login ends here -->

{% endblock start %}
