{% extends "base.html" %}
{% block start %}
]
    <!-- Vip Form Start from here  -->
    <section class="vip_form">
        <div class="form_work">
            <div class="form_image">
                <img src="/static/img/pranaamlogo.png" alt="Pranaam">
            </div>
            <div class="form_content">
                <form action="#">
                    <div class="form_radio">
                        <div class="departure">
                            <input type="radio" class="" value="departure">
                            <label for="departure">Departure</label>
                        </div>
                        <div class="arrival">
                            <input type="radio" class="" value="arrival">
                            <label for="arrival">Arrival</label>
                        </div>
                        <div class="round_trip">
                            <input type="radio" class="" value="round_trip">
                            <label for="round_trip">Round Trip</label>
                        </div>
                        <div class="transit">
                            <input type="radio" class="" value="transit" id="transit">
                            <label for="transit">Transit</label>
                        </div>
                    </div>
                    <div class="form_search">
                        <div class="travel">
                            <label for="travel">Travel Sector</label><br>
                            <select name="travel" id="travel">
                                <option value="travel">Domestic</option>
                                <option value="travel">International</option>
                            </select>
                        </div>
                        <div class="date">
                            <label for="date">Select Travel Date</label><br>
                            <input type="date" class="search_change">
                        </div>
                        <div class="origin">
                            <input type="text" class="search_change" placeholder="Origin">
                        </div>
                        <div class="destination">
                            <input type="text" class="search_change" placeholder="Destination">
                        </div>
                        <div class="flights">
                            <input type="text" class="search_change" placeholder="Flights">
                        </div>
                        <div class="guest">
                            <input type="text" class="search_change" placeholder="Guests">
                        </div>
                        
                    </div>
                </form>
                <div class="book_btn">
                    <span>
                        <a href="#">Book Now</a>
                    </span>
                </div>
            </div>
        </div>
    </section>
    <!-- Vip Form End here  -->

    <!-- Vip Recommeded Package code start from here  -->
    <section class="Recommededpackage">
        <div class="package_note">
            <span>VIP Packages That Suits You <br> Best</span>
        </div>
        <div class="package">
            <div class="elite_package">
                <div class="elite_img">
                    <img src="/static/img/Elite_Web.avif" alt="">
                </div>
                <div class="elite_description">
                    <div class="elite_heading">
                        <h4>Elite</h4>
                    </div>
                    <div class="elite_para">
                        <p>Specially curated services for guests that gives them a world-class airport & travel experience</p>
                    </div>
                    <div class="price_book_btn">
                        <div class="elite_price">
                            <h4>₹2,750</h4>
                            <span>Per Guest</span>
                        </div>
                        <div class="elite_book_btn">
                            <span>
                                <a href="#">Book Now</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="elite_package">
                <div class="elite_img">
                    <img src="/static/img/Platinum_web.avif" alt="">
                </div>
                <div class="elite_description">
                    <div class="elite_heading">
                        <h4>Platinum</h4>
                    </div>
                    <div class="elite_para">
                        <p>Specially curated services for guests that gives them a world-class airport & travel experience</p>
                    </div>
                    <div class="price_book_btn">
                        <div class="elite_price">
                            <h4>₹1,540</h4>
                            <span>Per Guest</span>
                        </div>
                        <div class="elite_book_btn">
                            <span>
                                <a href="#">Book Now</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Vip Recommeded package code end here  -->


{% endblock start %}